<body>
    <main>
        <form>
            <h1>Registro</h1>
            <label>
                <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Nombre">
            </label>
            <label>
                <input type="text" [(ngModel)]="apellido" name="apellido" placeholder="Apellido">
            </label>
            <label>
                <input type="email" [(ngModel)]="email" name="email" placeholder="Email">
            </label>
            <label>
                <input type="text" [(ngModel)]="numero" name="numero" placeholder="Numero">
            </label>
            <label>
                <input type="password" [(ngModel)]="contrasena" name="contrasena" placeholder="Contraseña">
            </label>
            <button type="reset" (click)="mostrarDatos()" class="buttonRegister">Registro</button>
        </form>
    
        <app-registro 
        [nombresHijo] = "nombreEnviado" 
        [apellidosHijo]="apellidoEnviado"
        [emailHijo]="emailEnviado"
        [numeroHijo]="numeroEnviado"
        (enviarDatos)="enviarDatosHijo($event)"
        >
    </app-registro>
    </main>
</body>
