* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    height: 100vh;
}
h1 {
    font-size: 3vh;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.5vw;
    padding: 2.2vw;
    gap: 2.2vw;
    max-width: 22vw;
    margin: 2vw;
}
form input {
    font-size: 1.5vh;
    width: 100%;
    height: 4vh;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 0.1vw solid;
}
form input::placeholder {
    font-size: 2vh;
}
form input:focus {
    font-size: 2vh;
    height: 4vh;
}
.buttonRegister {
    height: 4vh;
    width: 16vh;
    border: none;
    border-radius: 2vw;
    background-color: black;
    color: white;
    font-size: 2vh;
    cursor: pointer;
    transition: 0.3s;
}
.buttonRegister:hover {
    border: 0.2vw solid;
    background-color: white;
    color: black;
    animation: ease;
}